{% extends 'superhero_database_app/base.html' %} 

{% block content %}
<a href="/villains">Villains</a>
<h2>{{ supervillain.name }} <a href="{% url 'supervillain_edit' pk=supervillain.pk %}">(edit)</a></h2>
<h4>{{ supervillain.creators }}</h4>

<img src="{{ supervillain.image_url }}" alt="" class="super-photo" />

<h3>Powers</h3>
{{ supervillain.powers }}

<a href="{% url 'supervillain_delete' pk=supervillain.pk %}">Delete</a>
<h3>Posts <a href="{% url 'supervillain_post_create' %}">(+)</a></h3>
<ul>
    {% for post in supervillain.supervillain_posts.all %}
    <li>
        <a href="{% url 'supervillain_post_detail' pk=post.pk %}">{{ post.title }}-{{ post.author }}</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}