{% extends 'superhero_database_app/base.html' %} 

{% block content %}
<h2>{{ superhero.name }} <a href="{% url 'superhero_edit' pk=superhero.pk %}">(edit)</a></h2>
<h4>{{ superhero.creators }}</h4>

<img src="{{ superhero.image_url }}" alt="" class="super-photo" />

<h3>Powers</h3>
{{ superhero.powers }}

<a href="{% url 'superhero_delete' pk=superhero.pk %}">Delete</a>

<h3>Posts <a href="{% url 'superhero_post_create' %}">(+)</a></h3>
<ul>
    {% for post in superhero.superhero_posts.all %}
    <li>
        <a class="delete-button" href="{% url 'superhero_post_detail' pk=post.pk %}">{{ post.title }}-{{ post.author }}</a>
        <p>{{ post.body }}</p>
    </li>
    {% endfor %}
</ul>
{% endblock %}